<div class="game pattern-game" ng-controller="PatternGameController as oCtrl">
    <div class="jumbotron text-center">

        <div ng-include="'views/partials/games/startGame.html'"></div>

        <!-- only shown when playing -->
        <div ng-show="oCtrl.bIsPlaying && !oCtrl.bGameFinished">
            <div ng-repeat="oQuest in oCtrl.aQuests track by $index" ng-show="oQuest.bIsCurr">
                <p> {{ "Pattern " + (oCtrl.iQuestNo + 1) + " / " + oCtrl.aQuests.length + ":" }}</p>
                <!-- TODO: replace with pattern-game specific HTML -->
                <div class="pattern-items-wrapper">
                    <div ng-repeat=" oPtrnItem in oQuest.aPattern track by $index" class="pattern-item-holder">
                        <!--<span class="label label-default">{{ oPtrnItem }}</span>-->
                        <button type="button" class="btn btn-warning round" disabled>{{ oPtrnItem }}</button>
                    </div>
                </div>

                <div ng-include="'views/partials/games/answerOption.html'"></div>

            </div>
        </div>

        <div ng-include="'views/partials/games/endGame.html'"></div>
    </div>
</div>