<div class="game counting-game" ng-controller="CountingGameController as count">
    <div class="jumbotron text-center">
        <!-- only shown before game -->
        <div ng-hide="count.isPlaying">
            <h1>The Counting Game</h1>

            <p>{{ count.tagline }}</p>

            <button class="btn btn-lg btn-success" ng-click="count.startGame()">Start</button>
        </div>
        <!-- only shown when playing -->
        <div ng-show="count.isPlaying && !count.gameFinished">
            <div ng-repeat="q in count.questions" ng-show="q.isCurrentQuestion">
                <p> {{ "Problem " + (count.currentQuestionNo + 1) + " / " + count.questions.length + ":" }}</p>
                <p>{{ q.numbers.one }} * {{ q.numbers.two }}</p>
                    <div class="answer-option" ng-repeat="opt in q.options track by $index">
                        <button type="button" class="btn btn-default" ng-class="{ active: opt == q.playerAnswer }" ng-click="q.setPlayerAnswer(opt)">{{ opt }}</button>
                    </div>
                <p>{{ q.playerPrompt }}</p>
                <button type="button" class="btn bnt-default" ng-click="count.submitAnswer()">Submit</button>
            </div>
        </div>
        <div ng-show="count.gameFinished">
            <p>Good job! You got <strong>{{ count.gameResult }}</strong> out of <strong>{{ count.questions.length }}</strong> questions right in <strong>{{ count.gameTime }}</strong>.</p>
            <p>Submit your score to the wall of fame!</p>
            <!-- FORM TO CREATE ALLSTARS -->
            <div id="allstar-form" class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg text-center" placeholder="Champ's name" ng-model="count.allStarData.name" required />
                        </div> <!-- form-group -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="count.createAllStar()">Submit</button>
                    </form>
                </div> <!-- col-sm-8 -->
            </div> <!-- row -->
        </div>
    </div>
</div>