<div class="jumbotron text-center">
    <img id="main-image" class="img-responsive" src="images/nerd.png" alt="Nerd">
    <h1>Welcome to Nerdulo</h1>

    <p>{{ tagline }}</p>

    <p>Please choose a game from the wide selection of games available:</p>
    <section id="game-list">
        <div class="row">
            <div class="col-xs-12">
                <a id="counting-game-link" href="/counting-game" class="btn btn-primary round">The Counting Game</a>
            </div>
            <div class="col-xs-12">
                <a id="pattern-game-link" href="/pattern-game" class="btn btn-primary round">The Pattern Game</a>
            </div>
        </div>
    </section>
</div>