<div class="jumbotron text-center">
    <h1>Welcome to Nerdulo</h1>

    <p>{{ tagline }}</p>

    <p>Please choose a game from the wide selection of games available:</p>
    <section id="game-list">
        <div class="row">
            <div class="col-xs-12">
                <a href="/counting-game" class="btn btn-primary round"><span class="game-list-item">The Counting Game</span></a>
            </div>
            <div class="col-xs-12">
                <a href="/pattern-game" class="btn btn-primary round"><span class="game-list-item">The Pattern Game</span></a>
            </div>
        </div>
    </section>
</div>