<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/kozlo.jpg" alt="Kozlo">
            <div class="caption">
                <h3>Kozlo</h3>
                <p><strong>Title: </strong>Lead Developer</p>
                <p><strong>Special Abilities: </strong>beer</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/zars.jpg" alt="Zars">
            <div class="caption">
                <h3>Zars</h3>
                <p><strong>Title: </strong>Lead Tester</p>
                <p><strong>Special Abilities: </strong>teleportation</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/mustache.jpg" alt="Raivo">
            <div class="caption">
                <h3>Raivo</h3>
                <p><strong>Title: </strong>Middle Man</p>
                <p><strong>Special Abilities: </strong>mustache</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/emils.jpg" alt="Emilio">
            <div class="caption">
                <h3>Emilio</h3>
                <p><strong>Title: </strong>Tester</p>
                <p><strong>Special Abilities: </strong>beard</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/ugis.jpg" alt="Ugizmo">
            <div class="caption">
                <h3>Ugizmo</h3>
                <p><strong>Title: </strong>Tester</p>
                <p><strong>Special Abilities: </strong>holding a painting</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/ilze.jpg" alt="Ilzito">
            <div class="caption">
                <h3>Ilzito</h3>
                <p><strong>Title: </strong>Tester</p>
                <p><strong>Special Abilities: </strong>Salsa</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/ruben.jpg" alt="Rubenito">
            <div class="caption">
                <h3>Rubenito</h3>
                <p><strong>Title: </strong>Supporter</p>
                <p><strong>Special Abilities: </strong>Suspicious Beard</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="images/team/cthulhu.jpg" alt="Cthulhu">
            <div class="caption">
                <h3>Cthulhu</h3>
                <p><strong>Title: </strong>Tester</p>
                <p><strong>Special Abilities: </strong>world domination</p>
            </div>
        </div>
    </div>
</div>