<div class="answer-option" ng-repeat="nOpt in oQuest.aOptions track by $index">
    <button type="button" class="{{'btn btn-lg btn-default outline btn-answer-option btn-answer-option-' + $index}}" ng-class="{ active: nOpt == oQuest.iPlayerAnswer }" ng-click="oQuest.setPlayerAnswer(nOpt)">{{ nOpt }}</button>
</div>
<p id="{{'game-prompt-question-' + $index}}">{{ oQuest.sPlayerPrompt }}</p>
<button id="{{'game-submit-button-' + $index}}" type="button" class="btn btn-lg btn-success round" ng-click="oCtrl.submitAnswer()">Submit</button>