<div id="game-end-wrapper" ng-show="oCtrl.bGameFinished">
    <p>Good job! You got <strong>{{ oCtrl.iGameScore }}</strong> out of <strong>{{ oCtrl.aQuests.length }}</strong> questions right in <strong>{{ oCtrl.sGameTime }}</strong>.</p>
    <p>Submit your score to the wall of fame!</p>
    <!-- FORM TO CREATE ALLSTARS -->
    <div id="allstar-form" class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <form id="game-submit-form" novalidate name="allStartForm" >
                <div class="form-group">
                    <input id="game-submit-player-name" name="game-submit-player-name" type="text" class="form-control input-lg text-center" placeholder="Champ's name" ng-model="oCtrl.oAllStarData.name" required />
                </div> <!-- form-group -->
                <button id="game-score-submit-button" type="submit" ng-disabled="!allStartForm.$valid" class="btn btn-lg btn-primary round" ng-click="oCtrl.createAllStar()">Submit</button>
            </form>
        </div> <!-- col-sm-8 -->
    </div> <!-- row -->
</div>