<div class="game counting-game" ng-controller="CountingGameController as oCtrl">
    <div class="jumbotron text-center">

        <div ng-include="'views/partials/games/startGame.html'"></div>

        <!-- only shown when playing -->
        <div id="game-question-wrapper" ng-show="oCtrl.bIsPlaying && !oCtrl.bGameFinished">
            <div class="game-question" ng-repeat="oQuest in oCtrl.aQuests" ng-show="oQuest.bIsCurr">
                <div id="{{'game-question-' + $index}}">
                    <p> {{ "Problem " + (oCtrl.iQuestNo + 1) + " / " + oCtrl.aQuests.length + ":" }}</p>
                    <p>{{ oQuest.oNumbers.one }} * {{ oQuest.oNumbers.two }}</p>

                    <div ng-include="'views/partials/games/answerOption.html'"></div>
                </div>
            </div>
        </div>

        <div ng-include="'views/partials/games/endGame.html'"></div>

    </div>
</div>