<div class="game counting-game" ng-controller="CountingGameController as oCtrl">
    <div class="jumbotron text-center">
        <!-- only shown before game -->
        <div ng-hide="oCtrl.bIsPlaying">
            <h1>{{ oCtrl.sGameName }}</h1>

            <p>{{ oCtrl.sTagline }}</p>

            <button class="btn btn-lg btn-warning round" ng-click="oCtrl.startGame()">Start</button>
        </div>
        <!-- only shown when playing -->
        <div ng-show="oCtrl.bIsPlaying && !oCtrl.bGameFinished">
            <div ng-repeat="oQuest in oCtrl.aQuests" ng-show="oQuest.bIsCurr">
                <p> {{ "Problem " + (oCtrl.iQuestNo + 1) + " / " + oCtrl.aQuests.length + ":" }}</p>
                <p>{{ oQuest.oNumbers.one }} * {{ oQuest.oNumbers.two }}</p>
                    <div class="answer-option" ng-repeat="nOpt in oQuest.aOptions track by $index">
                        <button type="button" class="btn btn-lg btn-default outline btn-answer-option" ng-class="{ active: nOpt == oQuest.iPlayerAnswer }" ng-click="oQuest.setPlayerAnswer(nOpt)">{{ nOpt }}</button>
                    </div>
                <p>{{ oQuest.sPlayerPrompt }}</p>
                <button type="button" class="btn btn-lg btn-success round" ng-click="oCtrl.submitAnswer()">Submit</button>
            </div>
        </div>

        <div ng-include="'views/partials/games/endGame.html'"></div>
    </div>
</div>