body {
  padding-top: 30px;
  background-color: #DFE2DB;
}

#main-image {
  max-width: 165px;
  margin: auto;
}

#game-list {
  a {
    margin: 10px 0;
    color: #fff;
    width: 80%;
    max-width: 600px;
  }
}

.answer-option {
  display: inline;
}

.pattern-item-holder {
  display: inline;

  span {
    font-size: 15px;
    margin: 0 5px;
    padding: 10px 15px;
  }
}

.pattern-items-wrapper {
  margin: 20px 0;
}

.btn-answer-option {
  margin: 5px 0;
}